<h1> Add A Reservation </h1>
<hr />

<%= form_for @reservation do |f| %>
  <%= f.select :renter_id, options_for_select(@renters) %>
  <%= f.select :bike_id, options_for_select(@bikes) %>


  <%= f.submit nil, class: 'btn' %>
<% end %>

<hr />
<%= link_to 'All Renters', renters_path %>
<%= link_to 'All Bikes', bikes_path %>
