<!DOCTYPE html>
<html>
  <head>
    <title>ShopResRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Reservations App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li> <%= link_to 'Bikes', bikes_path %> </li>
          <li> <%= link_to 'Renters', renters_path %> </li>
          <li> <%= link_to 'Add Reservation', new_reservation_path %> </li>
         </ul>
      </div>
     </nav>

    <% flash.each do |key, value| %>
      <div class="flash <%= key %>">
        <%= value %>
      </div>
    <% end %>

    <div class='container'>

      <%= yield %>
  </body>
</html>
